<li>
	{{burger_name}}

	<button class="change-devoured" data-id="{{id}}" data-wasdevoured="{{devoured}}">
		{{#if devoured}}EATEN!{{else}}NOT EATEN!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>
